################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/*
/packages
/PnPTemplateManager.Web/obj/*
/PnPTemplateManager.BLL/bin/*
/ShareProv/bin/*
/ShareProv/obj/*
/PnPTemplateManager.Web/bin/*
/PnPTemplateManager.BLL/obj/*
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v3
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v4
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v4 - Copy
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v5
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate_old.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate.zip
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate - Copy.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v5.zip
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v4.zip
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v4.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v3.zip
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v3.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v2.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_v1.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_final
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate_bkup
/PnPTemplateManager.Web/FileStorage/PnPTemplates/harun_Ramboll_Project1_final.zip
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate_with_list_security.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate_without_webparts.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate_without_lib_fields.pnp
/PnPTemplateManager.Web/FileStorage/PnPTemplates/RambollProjectTemplate_latest_Ok.pnp
